.grid-container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, $card_width);
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
  max-width: 4 * $card_width + 3 * $row-gap;
}
