$moyo_color: #00acdc;
$text_size_normal: 11px;
$line_height_normal: 13px;
$font-size-h1: 12px;
$card_width: 200px;
$card_feight: 403px;
$border-color: #f3f3f3;
$column-gap: 48px;
$row-gap: 50px;

@import "header";
@import "card";
@import "stars";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $card_width);
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
}

* {
  box-sizing: border-box;
}
